<ion-menu [content]="contenido">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button ion-item *ngIf="usuarioEstaConectado"
      (click)="llamarPagina(homepage)">Inicio</button>
      <button ion-item
      (click)="llamarConsejos()">Consejos</button>
      <button ion-item
      (click)="llamarMateria()">Materiales R</button>
      <button ion-item
      (click)="llamarMapa()">Mapa R</button>
      <button ion-item *ngIf="!usuarioEstaConectado"
      (click)="llamarPagina(iniciarSesion)">Iniciar sesion</button>
      <button ion-item *ngIf="usuarioEstaConectado"
      (click)="terminarSesion()">Terminar sesion</button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="iniciarSesion" #contenido swipeBackEnabled="false"></ion-nav>
